.cache
.last-package-update-day
.lsp-session-v1
.org-id-locations
%backup%~
auto-save-list
bookmarks
eln-cache
elpa
network-security.data
org-persist
org-roam.db
private
projects
session*
tramp
transient
url
